<a href="https://colab.research.google.com/github/Bh110/20/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:

for i in range (0,num):
  for j in range(num,i,-1):
        print(j,end=" ")
  print()

6 5 4 3 2 1
6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

Syntax 1 : for repetition_var_1 in sequence: 
for repetition_var_2 in sequence:
 statement 1
  statement 2 
 .....
  ..... ..... 
  statement 10

Keywords: 
for : the "for" keyoword is used to mark the begining of the for loop 
in : Variables:
 repetition_var :
  sequence

Syntax 2 : for repetition_var_1 in range(start_val, end_val,steps): 
for repetition_var_2 in range(start_val, end_val,steps): 
statement 1 
statement 2 
.....
 ..... 
 .....
 statement 10

In [35]:
num=int(input("Enter the no. of rows:"))

Enter the no. of rows:6

In [43]:
for i in range (0,num):
  for j in range(num,i,-1):
        print("*",end=" ")
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
for i in range (0,num):
  for j in range(0,i+1):
        print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [45]:
for i in range (0,num):
  for j in range(0,i+1):
        print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *